*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(49, 43, 43);
    /* height: 100vh; */
}

h1{
    color: aliceblue;
    
    text-align: center;
    border: 2px solid rgb(203, 253, 67);
}

